.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footer_text{
    line-height: 30px;
    color: antiquewhite;
    
}

.footer_quick-links ul li {
    background: transparent !important;
}
.footer_quick-links ul li a{
    color: antiquewhite;
}
.quick_links-title{
    margin-bottom: 30px;
    color: white;
    font-size: 1.1rem;
}
.footer_contacts li span, .footer_contacts li p{
    color: white;
}
.footer_contacts li span{
    font-size: 1.2rem;
}
.footer_contact li p{
    font-size: .9rem;
}
.footer_copyright{
    color: white;
    font-size: 0.9rem;
    margin-top: 50px;
}